<div class="container">
  <h1>Add a new task!</h1>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.submit class: 'btn btn-primary'%>
    <%= link_to '< Back to all Tasks', tasks_path, class: 'btn-light opacity-75 text-decoration-none'%>
  <% end %>
</div>
